---
import b2b7logo from '../../assets/b2b7.svg';
import wink from '../../assets/wink.svg';
import Layout from '../../layouts/Layout.astro';

const websiteTitle = 'B2B SaaS Kit';

type LegoPiece = {
	url: string;
	imgUrl: string;
	name: string;
};

const libraries: LegoPiece[] = [
	{
		url: 'https://astro.build/',
		imgUrl: 'https://pbs.twimg.com/profile_images/1632785343433908224/SnMGR19O_400x400.png',
		name: 'Astro',
	},
	{
		url: 'https://react.dev/',
		imgUrl: 'https://pbs.twimg.com/profile_images/446356636710363136/OYIaJ1KK_400x400.png',
		name: 'React',
	},
	{
		url: 'https://tailwindcss.com/',
		imgUrl: 'https://pbs.twimg.com/profile_images/1468993891584073729/a_op8KnL_400x400.jpg',
		name: 'Tailwind CSS',
	},
];

const services: LegoPiece[] = [
	{
		url: 'https://www.doppler.com/',
		imgUrl: 'https://pbs.twimg.com/profile_images/1443663130840686596/cG41OnYX_400x400.jpg',
		name: 'Doppler',
	},
	{
		url: 'https://propelauth.com/',
		imgUrl: 'https://pbs.twimg.com/profile_images/1481731417608318978/H22VYbY0_400x400.jpg',
		name: 'PropelAuth',
	},
	{
		url: 'https://supabase.com/',
		imgUrl: 'https://pbs.twimg.com/profile_images/1651226564728700928/h0tz5UT1_400x400.jpg',
		name: 'Supabase',
	},
	{
		url: 'https://vercel.com/',
		imgUrl: 'https://pbs.twimg.com/profile_images/1652878800311427073/j0-3owJd_400x400.jpg',
		name: 'Vercel',
	},
	{
		url: 'https://fogbender.com/',
		imgUrl: 'https://pbs.twimg.com/profile_images/1312524109218111489/1e7X9EZ5_400x400.png',
		name: 'Fogbender',
	},
	{
		url: 'https://posthog.com/',
		imgUrl: 'https://pbs.twimg.com/profile_images/1436032806413606913/NgLRYKqT_400x400.jpg',
		name: 'PostHog',
	},
];
---

<Layout
	title={websiteTitle}
	description="Enabling a developer to go from zero to core business logic in a matter of minutes"
>
	<main class="container max-w-[42rem] px-8 md:px-0 md:mx-auto pb-12">
		<div class="flex gap-6 items-center mt-28">
			<div class="w-[5.75rem]">
				<img class="w-[92px] h-[84px]" src={wink} alt="Winking fox" />
			</div>
			<span class="font-bold text-[3.625rem]">B2B SaaS Kit</span>
		</div>

		<div class="mt-16 ml-0 md:ml-[7.25rem] text-[1.75rem] leading-7">Friend, hello!</div>

		<div class="mt-8 ml-0 md:ml-[7.25rem] text-lg leading-[1.875rem] flex flex-col gap-8">
			<div>
				<b>B2B SaaS Kit</b> is an instructional bundle for assembling products designed to be used by
				teams of users (i.e., businesses).
			</div>
			<div>
				The main goal of the kit is to enable a developer to go from zero to core business logic in
				a matter of double-digit minutes.
			</div>
			<div>
				The secondary goal is to limit the software cost of the product-market-fit search phase for
				a B2B app to the price of a domain name.
			</div>
			<div>
				The kit combines a number of open-source libraries and for-profit services with generous
				free-forever starter plans to assemble a functional multiplayer product with an SQL backend.
			</div>
		</div>

		<div class="mt-8 ml-0 md:ml-[7.25rem]">
			<div class="flex flex-wrap gap-6">
				{
					[...libraries, ...services].map((x) => (
						<a href={x.url}>
							<img
								class="rounded-xl hover:opacity-50 bg-white"
								src={x.imgUrl}
								alt={x.name}
								width="92"
								height="92"
								title={x.name}
							/>
						</a>
					))
				}
			</div>
		</div>

		<div class="mt-[3.75rem] flex gap-6">
			<div class="min-w-fit md:min-w-[5.75rem] flex justify-end">
				<img class="h-10 w-10" src={b2b7logo} alt="Free as in beer" />
			</div>
			<div class="text-lg leading-[1.875rem]">
				To see the kit in action, check out <a href="https://promptswithfriends.com"
					>Prompts with Friends</a
				>&mdash;it's a SaaS app built with this kit that lets you collaborate on GPT prompts with
				teammates.
			</div>
		</div>

		<div class="mt-8 ml-0 md:ml-[7.25rem] text-lg leading-[1.875rem] flex flex-col gap-2">
			<div>
				If you'd like to see how it was built, let's get a copy running right here&mdash;on your
				computer. You'll need Node.js 18 to get going. Then, run this in the terminal:
			</div>

			<pre
				class="text-xs md:text-base bg-[#6B7280] px-2 py-4 rounded-xl text-sm text-white">
git clone git@github.com:fogbender/b2b-saaskit.git 
cd b2b-saaskit 
corepack enable 
corepack prepare yarn@1.22.19 --activate 
yarn 
yarn dev</pre>

			<div>
				Open <a href="http://localhost:3000">http://localhost:3000</a> and follow the tutorial 🤘
			</div>
		</div>

		<div class="mt-8 ml-0 md:ml-[7.25rem] text-2xl leading-[1.875rem]">
			But wait! Please ⭐ <a href="https://github.com/fogbender/b2b-saaskit">our open-source repo</a
			>!
		</div>

		<style>
			a {
				color: #0029ff;
				text-decoration: underline;
			}

			a:visited {
				color: #bc48d9;
			}
		</style>
	</main>
</Layout>
